#dice {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid red;
}

#container {
  width: 200px;
  height: 300px;
  margin: auto;
  border: 2px solid red;
}

#button {
  background-color: rgb(117, 218, 218);
}