#dice {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid rgb(236, 146, 146);
}

#container {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid rgb(115, 179, 100);
}

#button {
  font-family: Montserrat;
  font-size: 20px;
  background-color: rgb(117, 218, 218);
}